body {
	overflow: hidden;
	width: 100%;
	height:100%;
}

a, a:hover , a:visited  {
	text-decoration:underline;
	color:black;

}

a:hover {
	color:black;
	text-decoration:none;
}

/* info bulle */

a.infobulle{
	position: relative;
	color: black;
	text-decoration: none;
}

a.infobulle span {
   display: none; /* On masque l'infobulle. */
}

a.infobulle:hover span {
	display: inline; /* On affiche l'infobulle. */
   	position: absolute;
   	top:-20px;
   	left: -45px;
	color: black;
	font-family: 'Karla', sans-serif;
	font-size: 10px;
}

/* F L È C H E S  */

.fleches{
	position: relative;
	font-family: 'Karla', sans-serif;
	font-size: 22px;
	margin-top: 3%;
	width: 94%;
	left:3%;
	text-decoration:none;
}

#next {
	float: right;
	text-decoration:none;
}

#back, #next{
	color: black;
	text-decoration:none;
}

#back:hover, #next:hover{
	color: white;
	text-decoration:none;
}


/* C O N T E N U */

#contenu{
	/*border:solid 1px red;*/
	position:absolute;
	width:85%;
	margin-top:2%;
	left:7%;
	height:73%;
}

#titre {
	margin-left: -1px;
	font-size: 18px;
}

#description{
	position: absolute;
	width:23%;
	color: black;
	font-family: 'Karla', sans-serif;
	font-size: 13px;
}

#images {
	width: 100%;
	visibility: hidden;
}

#img0, #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12, #img13, #img14, #img15, #img16, #img17, #img18, #img19, #img20, #img21, #img22, #img23, #img24, #img25, #img26, #img27, #img28, #img29, #img30, #img31, #img32, #img33, #img34, #img35, #img36, #img37, #img38, #img39, #img40, #img41, #img42, #img43, #img44, #img45, #img46, #img47 {
	position: absolute;
	cursor:pointer;
	right:0%;
}

/* L O A D I N G */
#loading{
	position:absolute;
	width: 77%;
	height: 80%;
	left:23%;
	background: url("../Images/loading.gif") no-repeat center center;
	z-index:100;
}
